<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haxxedtech.lwp.matrix"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk android:minSdkVersion="7" />
    <application
        android:icon="@drawable/thumb"
        android:label="@string/app_name" android:allowClearUserData="true">
        
         
        	<service
    android:label="@string/lwp_name"
    android:name=".HTLiveMatrixService"
    android:permission="android.permission.BIND_WALLPAPER">
    <intent-filter>
        <action
            android:name="android.service.wallpaper.WallpaperService" />
        </intent-filter>
        <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/htlwp" />
</service>
        
        
        
        
        <activity
            android:name=".HTLiveMatrixActivity"
            android:label="@string/app_name"
            android:exported="true"
          >
        </activity>
    </application>

</manifest>